# Cleaning the Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
educ_exp = pd.read_csv('data/raw_data/education_expenditure/API_SE.XPD.TOTL.GD.ZS_DS2_en_csv_v2.csv', header=2)
educ_exp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.91559,5.92467,6.71249,6.03687,6.55339,6.79629,6.13062,NaN,NaN,NaN
1,Afghanistan,AFG,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.46196,3.43785,2.52441,3.47171,3.77759,3.37581,NaN,NaN
2,Angola,AGO,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.47644,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.53798,NaN,NaN,NaN,NaN
4,Andorra,AND,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.93457,3.16387,3.06580,3.15889,NaN,2.46258,3.06442,NaN,NaN,NaN

In [3]:
print('educ_exp has', educ_exp.shape[0], 'rows and', educ_exp.shape[1], 'columns.')

educ_exp has 264 rows and 62 columns.

In [4]:
print('There are', len(educ_exp['Country Name'].unique()), 'unique countries:')
print(educ_exp['Country Name'].unique())

There are 264 unique countries:
['Aruba' 'Afghanistan' 'Angola' 'Albania' 'Andorra' 'Arab World'
 'United Arab Emirates' 'Argentina' 'Armenia' 'American Samoa'
 'Antigua and Barbuda' 'Australia' 'Austria' 'Azerbaijan' 'Burundi'
 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh' 'Bulgaria' 'Bahrain'
 'Bahamas, The' 'Bosnia and Herzegovina' 'Belarus' 'Belize' 'Bermuda'
 'Bolivia' 'Brazil' 'Barbados' 'Brunei Darussalam' 'Bhutan' 'Botswana'
 'Central African Republic' 'Canada' 'Central Europe and the Baltics'
 'Switzerland' 'Channel Islands' 'Chile' 'China' "Cote d'Ivoire"
 'Cameroon' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Colombia' 'Comoros'
 'Cabo Verde' 'Costa Rica' 'Caribbean small states' 'Cuba' 'Curacao'
 'Cayman Islands' 'Cyprus' 'Czech Republic' 'Germany' 'Djibouti'
 'Dominica' 'Denmark' 'Dominican Republic' 'Algeria'
 'East Asia & Pacific (excluding high income)'
 'Early-demographic dividend' 'East Asia & Pacific'
 'Europe & Central Asia (excluding high income)' 'Europe & Central Asia'
 'Ecuador' 'Egypt, Arab Rep.' 'Euro area' 'Eritrea' 'Spain' 'Estonia'
 'Ethiopia' 'European Union' 'Fragile and conflict affected situations'
 'Finland' 'Fiji' 'France' 'Faroe Islands' 'Micronesia, Fed. Sts.' 'Gabon'
 'United Kingdom' 'Georgia' 'Ghana' 'Gibraltar' 'Guinea' 'Gambia, The'
 'Guinea-Bissau' 'Equatorial Guinea' 'Greece' 'Grenada' 'Greenland'
 'Guatemala' 'Guam' 'Guyana' 'High income' 'Hong Kong SAR, China'
 'Honduras' 'Heavily indebted poor countries (HIPC)' 'Croatia' 'Haiti'
 'Hungary' 'IBRD only' 'IDA & IBRD total' 'IDA total' 'IDA blend'
 'Indonesia' 'IDA only' 'Isle of Man' 'India' 'Not classified' 'Ireland'
 'Iran, Islamic Rep.' 'Iraq' 'Iceland' 'Israel' 'Italy' 'Jamaica' 'Jordan'
 'Japan' 'Kazakhstan' 'Kenya' 'Kyrgyz Republic' 'Cambodia' 'Kiribati'
 'St. Kitts and Nevis' 'Korea, Rep.' 'Kuwait'
 'Latin America & Caribbean (excluding high income)' 'Lao PDR' 'Lebanon'
 'Liberia' 'Libya' 'St. Lucia' 'Latin America & Caribbean'
 'Least developed countries: UN classification' 'Low income'
 'Liechtenstein' 'Sri Lanka' 'Lower middle income' 'Low & middle income'
 'Lesotho' 'Late-demographic dividend' 'Lithuania' 'Luxembourg' 'Latvia'
 'Macao SAR, China' 'St. Martin (French part)' 'Morocco' 'Monaco'
 'Moldova' 'Madagascar' 'Maldives' 'Middle East & North Africa' 'Mexico'
 'Marshall Islands' 'Middle income' 'Macedonia, FYR' 'Mali' 'Malta'
 'Myanmar' 'Middle East & North Africa (excluding high income)'
 'Montenegro' 'Mongolia' 'Northern Mariana Islands' 'Mozambique'
 'Mauritania' 'Mauritius' 'Malawi' 'Malaysia' 'North America' 'Namibia'
 'New Caledonia' 'Niger' 'Nigeria' 'Nicaragua' 'Netherlands' 'Norway'
 'Nepal' 'Nauru' 'New Zealand' 'OECD members' 'Oman' 'Other small states'
 'Pakistan' 'Panama' 'Peru' 'Philippines' 'Palau' 'Papua New Guinea'
 'Poland' 'Pre-demographic dividend' 'Puerto Rico'
 'Korea, Dem. People’s Rep.' 'Portugal' 'Paraguay' 'West Bank and Gaza'
 'Pacific island small states' 'Post-demographic dividend'
 'French Polynesia' 'Qatar' 'Romania' 'Russian Federation' 'Rwanda'
 'South Asia' 'Saudi Arabia' 'Sudan' 'Senegal' 'Singapore'
 'Solomon Islands' 'Sierra Leone' 'El Salvador' 'San Marino' 'Somalia'
 'Serbia' 'Sub-Saharan Africa (excluding high income)' 'South Sudan'
 'Sub-Saharan Africa' 'Small states' 'Sao Tome and Principe' 'Suriname'
 'Slovak Republic' 'Slovenia' 'Sweden' 'Swaziland'
 'Sint Maarten (Dutch part)' 'Seychelles' 'Syrian Arab Republic'
 'Turks and Caicos Islands' 'Chad'
 'East Asia & Pacific (IDA & IBRD countries)'
 'Europe & Central Asia (IDA & IBRD countries)' 'Togo' 'Thailand'
 'Tajikistan' 'Turkmenistan'
 'Latin America & the Caribbean (IDA & IBRD countries)' 'Timor-Leste'
 'Middle East & North Africa (IDA & IBRD countries)' 'Tonga'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa (IDA & IBRD countries)'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Tuvalu' 'Tanzania' 'Uganda'
 'Ukraine' 'Upper middle income' 'Uruguay' 'United States' 'Uzbekistan'
 'St. Vincent and the Grenadines' 'Venezuela, RB' 'British Virgin Islands'
 'Virgin Islands (U.S.)' 'Vietnam' 'Vanuatu' 'World' 'Samoa' 'Kosovo'
 'Yemen, Rep.' 'South Africa' 'Zambia' 'Zimbabwe']

In [5]:
to_remove = ['Arab World', 'American Samoa', 'Bermuda',
'Central Europe and the Baltics', 'Channel Islands', 'Caribbean small states',
'Cayman Islands', 'East Asia & Pacific (excluding high income)',
'Early-demographic dividend', 'East Asia & Pacific',
'Europe & Central Asia (excluding high income)', 'Europe & Central Asia',
'Euro area', 'European Union', 'Fragile and conflict affected situations',
'Faroe Islands', 'Gibraltar', 'Greenland', 'Guam', 'High income',
'Heavily indebted poor countries (HIPC)', 'IBRD only', 'IDA & IBRD total',
'IDA total', 'IDA blend', 'IDA only', 'Isle of Man', 'Not classified',
'Latin America & Caribbean (excluding high income)',
'Latin America & Caribbean', 'Least developed countries: UN classification',
'Low income', 'Lower middle income', 'Low & middle income',
'Late-demographic dividend', 'St. Martin (French part)',
'Middle East & North Africa', 'Middle income',
'Middle East & North Africa (excluding high income)', 'Northern Mariana Islands',
'North America', 'New Caledonia', 'OECD members', 'Other small states',
'Pre-demographic dividend', 'Puerto Rico', 'West Bank and Gaza',
'Pacific island small states', 'Post-demographic dividend', 'French Polynesia',
'South Asia', 'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa',
'Small states', 'Turks and Caicos Islands',
'East Asia & Pacific (IDA & IBRD countries)',
'Europe & Central Asia (IDA & IBRD countries)',
'Latin America & the Caribbean (IDA & IBRD countries)',
'Middle East & North Africa (IDA & IBRD countries)', 'South Asia (IDA & IBRD)',
'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
'British Virgin Islands', 'Virgin Islands (U.S.)', 'World']

In [6]:
def delete_rows(df, rows_to_delete):
    for i in range(len(df)):
        if df.loc[i, 'Country Name'] in rows_to_delete:
            df.drop(i, inplace=True)

educ_exp = pd.read_csv('data/raw_data/education_expenditure/API_SE.XPD.TOTL.GD.ZS_DS2_en_csv_v2.csv', header=2)
delete_rows(educ_exp, to_remove)

educ_exp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.91559,5.92467,6.71249,6.03687,6.55339,6.79629,6.13062,NaN,NaN,NaN
1,Afghanistan,AFG,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.46196,3.43785,2.52441,3.47171,3.77759,3.37581,NaN,NaN
2,Angola,AGO,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.47644,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.53798,NaN,NaN,NaN,NaN
4,Andorra,AND,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.93457,3.16387,3.06580,3.15889,NaN,2.46258,3.06442,NaN,NaN,NaN

In [7]:
print('educ_exp has', educ_exp.shape[0], 'rows and', educ_exp.shape[1], 'columns.')

educ_exp has 199 rows and 62 columns.

In [8]:
educ_exp.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', 'Unnamed: 61'],
      dtype='object')

In [9]:
for col_name in educ_exp.columns:
    print(col_name, 'has', sum(pd.isnull(educ_exp[col_name])), 'NaN values')

Country Name has 0 NaN values
Country Code has 0 NaN values
Indicator Name has 0 NaN values
Indicator Code has 0 NaN values
1960 has 199 NaN values
1961 has 199 NaN values
1962 has 199 NaN values
1963 has 199 NaN values
1964 has 199 NaN values
1965 has 199 NaN values
1966 has 199 NaN values
1967 has 199 NaN values
1968 has 199 NaN values
1969 has 199 NaN values
1970 has 171 NaN values
1971 has 152 NaN values
1972 has 155 NaN values
1973 has 153 NaN values
1974 has 154 NaN values
1975 has 147 NaN values
1976 has 152 NaN values
1977 has 152 NaN values
1978 has 152 NaN values
1979 has 144 NaN values
1980 has 135 NaN values
1981 has 143 NaN values
1982 has 139 NaN values
1983 has 145 NaN values
1984 has 142 NaN values
1985 has 146 NaN values
1986 has 139 NaN values
1987 has 145 NaN values
1988 has 145 NaN values
1989 has 143 NaN values
1990 has 148 NaN values
1991 has 146 NaN values
1992 has 143 NaN values
1993 has 142 NaN values
1994 has 129 NaN values
1995 has 118 NaN values
1996 has 119 NaN values
1997 has 162 NaN values
1998 has 110 NaN values
1999 has 80 NaN values
2000 has 78 NaN values
2001 has 82 NaN values
2002 has 73 NaN values
2003 has 87 NaN values
2004 has 75 NaN values
2005 has 88 NaN values
2006 has 87 NaN values
2007 has 87 NaN values
2008 has 76 NaN values
2009 has 78 NaN values
2010 has 74 NaN values
2011 has 79 NaN values
2012 has 88 NaN values
2013 has 88 NaN values
2014 has 136 NaN values
2015 has 171 NaN values
2016 has 199 NaN values
Unnamed: 61 has 199 NaN values

In [10]:
import os

def clean_csv(dir_name):
    RAW_DATA_PATH = os.path.join('data', 'raw_data', dir_name)
    filenames = os.listdir(RAW_DATA_PATH)
    RAW_FILE_PATH = filenames[0]
    
    df = pd.read_csv(os.path.join(RAW_DATA_PATH, RAW_FILE_PATH), header=2)
    delete_rows(df, to_remove)
    df.drop(['Country Code', 'Indicator Name', 'Indicator Code', '2015', '2016', 'Unnamed: 61'], axis=1, inplace=True)
    df.drop([str(x) for x in range(1960, 1995)], axis=1, inplace=True)
    df.rename(columns={'Country Name':'country_name'}, inplace=True)
    
    CLEAN_DATA_PATH = os.path.join('data', 'clean_data', dir_name, )
    df.to_csv(CLEAN_DATA_PATH + '.csv', index=False)
    
dir_names = ['education_expenditure', 'gdp', 'health_expenditure', 'infant_mortality', 
             'life_expectancy', 'military_expenditure', 'net_aid']

for dir_name in dir_names:
    if not os.path.exists('data/clean_data/' + dir_name + '.csv'):
        clean_csv(dir_name)
    else:
        print(dir_name + '.csv already exists.')

education_expenditure.csv already exists.
gdp.csv already exists.
health_expenditure.csv already exists.
infant_mortality.csv already exists.
life_expectancy.csv already exists.
military_expenditure.csv already exists.
net_aid.csv already exists.

In [11]:
def read_my_csv(filename):
    DATA_PATH = os.path.join('data', 'clean_data', filename)
    return pd.read_csv(DATA_PATH, index_col='country_name')

educ_exp = read_my_csv('education_expenditure.csv')
gdp = read_my_csv('gdp.csv')
health_exp = read_my_csv('health_expenditure.csv')
inf_mort = read_my_csv('infant_mortality.csv')
life_exp = read_my_csv('life_expectancy.csv')
mili_exp = read_my_csv('military_expenditure.csv')
net_aid = read_my_csv('net_aid.csv')

all_df = [educ_exp, gdp, health_exp, inf_mort, life_exp, mili_exp, net_aid]
all_df_names = ['educ_exp', 'gdp', 'health_exp', 'inf_mort', 'life_exp', 'mili_exp', 'net_aid']

In [12]:
for df in all_df:
    df.fillna(method='ffill', axis=1, inplace=True)
    df.fillna(method='bfill', axis=1, inplace=True)

In [13]:
for df, name in zip(all_df, dir_names):
    print(sum(df.isnull().any(axis=1)), 'rows of missing values in', name)

14 rows of missing values in education_expenditure
3 rows of missing values in gdp
9 rows of missing values in health_expenditure
7 rows of missing values in infant_mortality
4 rows of missing values in life_expectancy
33 rows of missing values in military_expenditure
29 rows of missing values in net_aid

In [14]:
net_aid[net_aid.isnull().any(axis=1)].index

Index(['Andorra', 'Australia', 'Austria', 'Belgium', 'Canada', 'Switzerland',
       'Curacao', 'Germany', 'Denmark', 'Spain', 'Finland', 'France',
       'United Kingdom', 'Greece', 'Ireland', 'Iceland', 'Italy', 'Japan',
       'Liechtenstein', 'Luxembourg', 'Monaco', 'Netherlands', 'Norway',
       'New Zealand', 'Portugal', 'San Marino', 'Sweden',
       'Sint Maarten (Dutch part)', 'United States'],
      dtype='object', name='country_name')

In [15]:
all_df.pop(6)
all_df_names.remove('net_aid')

countries_to_drop = [x for x in mili_exp[mili_exp.isnull().any(axis=1)].index]
for df in all_df:
    df.drop(countries_to_drop, axis=0, inplace=True)

In [16]:
dir_names.remove('net_aid')
for df, name in zip(all_df, dir_names):
    print(sum(df.isnull().any(axis=1)), 'rows of missing values in', name)

9 rows of missing values in education_expenditure
0 rows of missing values in gdp
2 rows of missing values in health_expenditure
1 rows of missing values in infant_mortality
0 rows of missing values in life_expectancy
0 rows of missing values in military_expenditure

In [17]:
educ_exp[educ_exp.isnull().any(axis=1)].index

Index(['Bosnia and Herzegovina', 'Haiti', 'Iraq', 'Montenegro', 'Nigeria',
       'Papua New Guinea', 'Somalia', 'Uzbekistan', 'Kosovo'],
      dtype='object', name='country_name')

In [18]:
for df in all_df:
    for column in df.columns:
        df.loc[:, column].fillna(np.nanmedian(df.loc[:, column]), inplace=True)

In [19]:
for df, name in zip(all_df, dir_names):
    print(sum(df.isnull().any(axis=1)), 'rows of missing values in', name)

0 rows of missing values in education_expenditure
0 rows of missing values in gdp
0 rows of missing values in health_expenditure
0 rows of missing values in infant_mortality
0 rows of missing values in life_expectancy
0 rows of missing values in military_expenditure

In [20]:
educ_exp

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
country_name,,,,,,,,,,,,,,,,,,,,
Afghanistan,3.46196,3.46196,3.46196,3.46196,3.46196,3.46196,3.46196,3.46196,3.46196,3.46196,3.46196,3.46196,3.46196,3.46196,3.46196,3.46196,3.43785,2.52441,3.47171,3.77759
Angola,2.59149,2.59149,2.59149,2.59149,2.59149,2.60753,2.60753,2.60753,2.60753,2.60753,2.77620,2.85969,2.85969,2.85969,2.85969,3.47644,3.47644,3.47644,3.47644,3.47644
Albania,3.76471,2.97630,3.23428,3.32642,3.37971,3.28692,3.34060,3.05664,3.06427,3.17008,3.23872,3.15719,3.26868,3.26868,3.26868,3.26868,3.26868,3.26868,3.53798,3.53798
United Arab Emirates,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944,1.10944
Argentina,3.73198,3.73198,3.73198,4.03987,4.52168,4.58031,4.83374,4.01734,3.53505,3.15654,3.47405,3.65499,3.89635,4.33782,4.89000,4.60637,4.98632,5.09906,5.34410,5.54727
Armenia,1.84843,1.84843,1.84843,1.84843,2.23519,2.77273,2.46944,2.13504,2.14504,2.48673,2.71203,2.71577,3.01894,3.17273,3.84079,3.24900,3.14385,2.77248,2.65018,2.24050
Australia,5.13367,5.23053,5.23053,5.23053,5.23053,4.89466,4.89466,4.89466,4.89466,4.89466,4.91266,4.74494,4.66114,4.63528,5.09264,5.56895,5.09909,4.89647,5.27065,5.27065
Austria,5.44146,5.27168,5.27168,6.11990,6.12533,5.59956,5.58635,5.53269,5.38187,5.32094,5.27148,5.25293,5.17663,5.29698,5.76740,5.72503,5.61942,5.45336,5.56484,5.56484
Azerbaijan,3.33737,3.51252,3.51252,3.38000,4.21217,3.85399,3.50342,3.15449,3.28615,3.44766,2.97462,2.55551,2.54928,2.44093,3.22431,2.78062,2.43564,2.09630,2.46218,2.63466
Burundi,5.01511,4.08324,4.08324,4.08324,3.41745,2.64548,2.90391,3.00493,3.00493,3.74496,3.63169,3.63169,3.63169,5.19355,6.31979,6.79287,5.99779,5.82091,5.41475,5.41475
Belgium,2.97274,3.02611,3.02611,3.02611,3.02611,3.02611,5.84329,5.94735,5.88478,5.80695,5.76900,5.84036,5.84903,6.29139,6.41536,6.40799,6.37874,6.37874,6.37874,6.37874
Benin,2.74789,2.74789,2.74789,2.74789,2.62665,2.88869,3.23235,2.95134,3.12027,3.50804,3.63079,3.50328,3.22981,3.79566,4.22204,5.02932,5.02932,4.88943,4.57055,4.38073
Burkina Faso,1.44026,1.44026,1.44026,1.44026,1.44026,1.44026,1.44026,1.44026,1.44026,1.44026,4.43260,4.45703,4.58858,4.58858,4.58858,3.93896,4.48326,4.05353,4.53051,4.49753
Bangladesh,1.95247,1.95247,1.95247,1.95247,2.13282,2.12508,2.17193,2.01715,2.06939,1.94014,1.94014,2.13129,2.20222,2.05457,1.93942,1.93942,2.13270,2.17550,1.96616,1.96616
Bulgaria,3.44701,2.71204,2.71204,2.81427,2.81427,2.81427,3.39575,3.39488,4.01177,2.32557,4.11536,3.91204,3.65297,4.20479,4.29411,3.91536,3.59234,3.52336,4.07164,4.07164
Bahrain,2.87436,2.87436,2.87436,2.87436,2.87436,2.87436,2.87436,2.87436,2.87436,2.87436,2.87436,2.87436,2.57500,2.49678,2.49678,2.49678,2.49678,2.64470,2.64470,2.64470
Bosnia and Herzegovina,3.81086,3.83658,3.84718,3.84718,4.09433,3.87199,3.94199,3.98297,3.94925,3.91255,3.97188,3.91204,3.95229,4.05765,4.27427,4.33702,4.28408,4.38531,4.53051,4.49753
Belarus,6.00001,6.00001,6.00001,6.00001,6.00001,6.19662,6.19662,6.19662,6.19662,5.71226,5.87103,6.07696,5.15210,5.15210,4.51672,5.41013,4.84382,5.12106,5.17594,4.98983
Belize,5.44344,5.44344,5.44344,5.44344,5.44344,5.02843,5.79693,5.79693,5.20682,5.29940,5.29940,5.29940,5.29940,5.68789,6.10014,6.62100,6.62100,6.62100,6.21827,6.21827
Bolivia,5.60817,4.65741,4.65741,5.52301,5.65932,5.47342,5.89946,6.23031,6.37904,6.37904,6.37904,6.31361,6.31361,7.03973,8.08120,7.60011,6.88847,6.42524,6.25793,7.28535
Brazil,4.47317,4.47317,4.47317,4.75666,3.80062,3.94892,3.84468,3.75037,3.75037,3.97449,4.47908,4.87060,4.97426,5.26884,5.46355,5.64880,5.74098,5.80009,5.99795,5.99795
Brunei Darussalam,5.25395,5.25395,5.25395,5.25395,4.93205,3.70591,3.70591,3.70591,3.70591,3.70591,3.70591,3.70591,3.70591,3.70591,3.70591,2.04661,3.68108,3.20704,3.20704,3.76595
Botswana,10.67859,10.67859,10.67859,10.67859,10.67859,10.67859,10.67859,10.67859,10.67859,10.67859,10.67859,10.67859,8.85149,8.85149,9.63292,9.63292,9.63292,9.63292,9.63292,9.63292
Central African Republic,1.69002,1.69002,1.69002,1.69002,1.69002,1.61265,1.61265,1.51957,1.53980,1.62453,1.63638,1.41506,1.31289,1.29002,1.30356,1.20455,1.21913,1.21913,1.21913,1.21913
Canada,6.32445,6.32445,6.32445,5.51196,5.54994,5.44201,4.96958,5.01073,5.01073,5.01073,4.78215,4.78215,4.78036,4.63826,4.85264,5.36993,5.27444,5.27444,5.27444,5.27444
Switzerland,5.07213,5.07918,5.07918,4.88814,4.89071,4.78836,4.95985,5.31939,5.53839,5.45434,5.21884,4.98152,4.71197,4.89285,5.05967,4.94787,4.99342,5.05331,5.06686,5.06686
Chile,2.64011,2.88004,3.09043,3.43289,3.84052,3.70598,3.70598,4.00947,3.85160,3.48845,3.22508,3.02381,3.22353,3.79267,4.24129,4.18121,4.06808,4.57408,4.55077,4.76402
China,1.84825,1.85964,1.85964,1.85111,1.89593,1.89593,1.89593,1.89593,1.89593,1.89593,1.89593,1.89593,1.89593,1.89593,1.89593,1.89593,1.89593,1.89593,1.89593,1.89593
Cote d'Ivoire,4.30145,4.05623,4.03089,3.78794,4.09433,3.70367,3.66868,4.09033,3.96799,4.12786,4.10575,4.00150,4.25833,4.34126,4.41246,4.55346,4.13755,4.61108,4.72472,4.71947
Cameroon,1.93258,1.93258,1.93258,1.93258,1.93258,1.93258,2.60995,2.60995,3.30182,3.32991,3.12323,2.95568,3.36625,2.95686,3.46009,3.31319,3.05291,2.96539,3.02834,3.02834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Serbia,4.51091,4.51091,4.51091,4.51091,4.51091,4.51091,4.51091,4.51091,4.51091,4.51091,4.51091,4.51091,4.51091,4.70663,4.75188,4.58655,4.49298,4.42658,4.42658,4.18025
South Sudan,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521,0.80521
Slovak Republic,4.31547,4.13969,4.12916,4.12916,4.11247,3.87199,3.94199,4.25106,4.21721,4.10813,3.77754,3.72450,3.53883,3.53547,4.02380,4.12750,3.97264,3.92452,4.10519,4.10519
Slovenia,4.92384,4.92384,4.92384,4.92384,4.92384,4.92384,5.75709,5.65512,5.69129,5.63518,5.58241,5.57559,5.10509,5.10609,5.56859,5.56252,5.56563,5.66161,5.48805,5.48805
Sweden,6.22390,6.92501,6.92501,7.16734,6.93026,6.81885,6.68601,7.00104,6.85764,6.72268,6.55951,6.41067,6.21507,6.39073,6.85779,6.62199,6.49112,7.65619,7.71774,7.71774
Swaziland,5.65314,4.93816,4.93816,4.93816,5.09095,5.50848,5.51615,5.07651,6.80507,6.40261,7.42072,8.06158,8.06158,7.51870,7.05920,6.96617,8.63695,8.63695,8.63695,7.12498
Seychelles,7.70369,7.77922,7.77922,5.99207,5.26100,5.26100,5.26100,5.19333,5.37493,5.37493,5.37493,4.77012,4.77012,4.77012,4.77012,4.77012,3.60644,3.60644,3.60644,3.60644
Syrian Arab Republic,3.69905,3.69905,3.69905,3.69905,3.69905,3.69905,4.36049,5.04694,6.48084,5.37148,5.37148,5.34600,4.87197,4.59525,5.13014,5.13014,5.13014,5.13014,5.13014,5.13014
Chad,2.27335,2.27335,2.27335,1.64903,3.22786,2.64671,2.42614,2.42614,2.42614,1.59295,1.69477,1.69477,1.69477,1.69477,2.31174,1.98194,2.25790,2.20615,2.85071,2.85071
Togo,4.41244,4.41244,4.41244,3.98424,4.18572,4.50842,4.18779,4.01732,4.19533,3.62152,3.40690,3.66374,3.69932,3.43782,4.11576,4.42320,4.43707,4.72764,4.68305,4.87673
Thailand,3.14498,3.49961,4.57720,4.62570,4.83267,5.25346,4.81786,3.86492,3.72561,4.03089,3.93859,4.05038,3.60314,3.50850,3.86380,3.51031,4.80828,4.53977,4.12839,4.12839
Tajikistan,2.06598,2.04298,2.04298,2.52871,2.07659,2.32863,2.37658,2.77580,2.42263,2.77208,3.51215,3.40348,3.41328,3.45983,4.09831,4.00675,3.93511,4.01803,4.01803,4.01803
Turkmenistan,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925,3.04925
Timor-Leste,8.10202,8.10202,8.10202,8.10202,8.10202,8.10202,8.10202,8.10202,8.10202,8.10202,8.10202,8.10202,8.10202,8.10202,11.46614,10.48715,9.33840,6.41859,5.99594,7.93279
Trinidad and Tobago,3.55855,3.24877,3.32521,2.43892,2.75612,2.75565,3.06529,3.54301,3.13660,3.13660,3.13660,3.13660,3.13660,3.13660,3.13660,3.13660,3.13660,3.13660,3.13660,3.13660
Tunisia,6.42976,6.28781,6.67903,6.67903,6.27099,6.20198,6.20183,5.79003,6.81673,6.72078,6.45157,6.43859,6.46552,6.27219,6.52848,6.25481,6.25481,6.25036,6.25036,6.25036
Turkey,2.25111,2.25111,2.25111,2.25111,2.95752,2.58992,2.71185,2.81861,2.96035,3.11739,3.11739,2.86247,2.86247,2.86247,2.86247,2.86247,2.86247,4.07056,4.77450,4.77450
Tanzania,2.53283,2.53283,2.45859,2.17591,2.17591,2.17591,2.17591,2.17591,2.17591,4.65018,4.61078,3.27110,4.04190,4.25245,4.04365,4.62239,4.62239,4.62239,4.62239,3.48143
Uganda,2.46167,2.46167,2.46167,2.46167,2.46167,2.46167,2.46167,2.46167,2.46167,4.95237,4.95237,4.95237,4.95237,4.95237,0.48822,1.96590,1.96765,1.87724,1.49607,1.70442
Ukraine,5.45601,5.45601,5.45601,4.44884,3.61808,4.16623,4.68049,5.43333,5.60241,5.30832,6.05848,6.20873,6.15120,6.42993,7.31088,7.31088,6.16237,6.69233,6.74435,5.95064
Uruguay,2.52140,2.86987,2.86987,2.24337,2.24337,2.42255,2.80096,2.32220,2.06821,2.49954,2.71475,2.88026,2.88026,2.88026,2.88026,2.88026,4.35527,4.35527,4.35527,4.35527
United States,4.94153,4.94153,4.94153,4.81543,4.84934,4.84934,5.45786,5.40620,5.56551,5.30923,5.07365,5.38881,5.24649,5.30354,5.24958,5.42001,5.22390,5.19486,4.94379,4.94379
Uzbekistan,3.81086,3.83658,3.84718,3.84718,4.09433,3.87199,3.94199,3.98297,3.94925,3.91255,3.97188,3.91204,3.95229,4.05765,4.27427,4.33702,4.28408,4.38531,4.53051,4.49753
"Venezuela, RB",3.66906,3.66906,3.66906,3.66906,3.66906,3.66906,3.66906,3.66906,3.66906,3.66906,3.66906,3.66906,3.62732,3.62732,6.87468,6.87468,6.87468,6.87468,6.87468,6.87468
Vietnam,4.88674,4.88674,4.88674,4.88674,4.88674,4.88674,4.88674,4.88674,4.88674,4.88674,4.88674,4.88674,4.88674,4.88674,4.81650,5.13722,4.81372,5.53329,5.65200,5.65200
Kosovo,3.81086,3.83658,3.84718,3.84718,4.09433,3.87199,3.94199,3.98297,3.94925,3.91255,3.97188,3.91204,3.95229,4.05765,4.27427,4.33702,4.28408,4.38531,4.53051,4.49753
"Yemen, Rep.",9.66163,9.66163,9.66163,9.66163,9.66163,9.66163,9.24471,9.24471,9.24471,9.24471,9.24471,9.24471,9.24471,4.56060,4.56060,4.56060,4.56060,4.56060,4.56060,4.56060
South Africa,5.57576,5.57576,5.57576,5.57576,5.87522,5.44358,5.15949,5.06623,4.86485,5.06891,5.06319,5.07257,4.97414,4.86601,5.24869,5.72174,5.96275,6.36892,5.99752,6.05629
Zambia,1.83853,1.83853,1.83853,2.11823,1.77495,1.78819,1.78819,1.78819,1.78819,2.46343,1.73553,1.73553,1.24076,1.09972,1.09972,1.09972,1.09972,1.09972,1.09972,1.09972
Zimbabwe,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,1.97333,8.38322,8.48536,8.42933

In [21]:
for i, val_name in zip(range(len(all_df)), all_df_names):
    df = all_df[i]
    df.reset_index(inplace=True)
    df = df.melt(id_vars='country_name', var_name='year', value_name=val_name)
    df['country_name_year'] = df['country_name'].map(str) + df['year'].map(str)
    df.drop(['country_name', 'year'], axis=1, inplace=True)
    df.set_index('country_name_year', inplace=True)
    all_df[i] = df

In [22]:
master_df = all_df[0].join([x for x in all_df[1:]])
master_df = master_df[['educ_exp', 'gdp', 'health_exp', 'mili_exp', 'inf_mort', 'life_exp']]

In [23]:
master_df.head()

,educ_exp,gdp,health_exp,mili_exp,inf_mort,life_exp
country_name_year,,,,,,
Afghanistan1995,3.46196,119.899019,7.094141,2.369786,105.0,53.139390
Angola1995,2.59149,386.389752,72.135102,4.707393,132.8,42.051463
Albania1995,3.76471,760.559376,25.966105,2.099713,29.1,72.236024
United Arab Emirates1995,1.10944,27973.742816,78.969429,4.231250,11.2,73.115073
Argentina1995,3.73198,7373.427403,59.757519,1.473075,20.8,72.665122

# Linear Regression

In [24]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

X = master_df.loc[:, 'educ_exp':'mili_exp']
y = master_df.loc[:, 'life_exp']
X_train, X_test, y_train, y_test = train_test_split(X, y)

lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
print('cross_val_score:', cross_val_score(lin_reg, X_train, y_train))

y_pred_lin_reg = lin_reg.predict(X_test)
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred_lin_reg)))

cross_val_score: [0.4192558  0.36119183 0.38125653]
rmse: 7.812571880290672

# Single Decision Tree

In [25]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(max_depth=3, random_state=42)
tree_reg.fit(X_train, y_train)
print('cross_val_score:', cross_val_score(tree_reg, X_train, y_train))

y_pred_tree_reg = tree_reg.predict(X_test)
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred_tree_reg)))

cross_val_score: [0.6523596  0.61410711 0.66774345]
rmse: 5.999788745965733

In [26]:
from sklearn.model_selection import GridSearchCV

param_grid = {'max_leaf_nodes': list(range(2, 100)), 'min_samples_split': list(range(2, 11))}
grid_search_decision_tree = GridSearchCV(DecisionTreeRegressor(random_state=42), param_grid, n_jobs=-1)
grid_search_decision_tree.fit(X_train, y_train)

print('best params:', grid_search_decision_tree.best_params_)

print('cross_val_score:', cross_val_score(grid_search_decision_tree.best_estimator_, X_train, y_train))

y_pred_tree_grid = grid_search_decision_tree.best_estimator_.predict(X_test)
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred_tree_grid)))

best params: {'min_samples_split': 8, 'max_leaf_nodes': 42}
cross_val_score: [0.70647286 0.7065843  0.73770942]
rmse: 5.467948558316736

# Random Forest

In [27]:
from sklearn.ensemble import GradientBoostingRegressor

gbrt = GradientBoostingRegressor(max_depth=3, n_estimators=3, learning_rate=1.0, random_state=42)
gbrt.fit(X_train, y_train)
print('cross_val_score:', cross_val_score(gbrt, X_train, y_train))
y_pred_gbrt = gbrt.predict(X_test)
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred_gbrt)))

cross_val_score: [0.68028889 0.66626207 0.70719304]
rmse: 5.75979743024025

In [28]:
# Early Stopping

X_train_2, X_val, y_train_2, y_val = train_test_split(X_train, y_train, random_state=42)

gbrt = GradientBoostingRegressor(max_depth=2, n_estimators=1000, random_state=42)
gbrt.fit(X_train_2, y_train_2)

errors = [mean_squared_error(y_val, y_pred)
          for y_pred in gbrt.staged_predict(X_val)]
bst_n_estimators = np.argmin(errors)

gbrt_best = GradientBoostingRegressor(max_depth=2,n_estimators=bst_n_estimators, random_state=42)
print('Early stopping found', gbrt_best.n_estimators)
gbrt_best.fit(X_train, y_train)

print('cross_val_score:', cross_val_score(gbrt_best, X_train, y_train))
y_pred_gbrt_best = gbrt.predict(X_test)
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred_gbrt_best)))

Early stopping found 989
cross_val_score: [0.78510809 0.75928976 0.81071713]
rmse: 4.728238651128576

In [29]:
from scipy.stats import reciprocal

param_grid = {'learning_rate':[0.01, 0.05, 0.1, 0.5, 1.0],
             'max_depth':np.arange(2, 5),
             'min_samples_split':[2, 3],
              'loss':['ls', 'huber']}

gbrt_grid = GridSearchCV(GradientBoostingRegressor(n_estimators=bst_n_estimators, random_state=42),
                        param_grid=param_grid, n_jobs=-1, verbose=1)
gbrt_grid.fit(X_train, y_train)
gbrt_grid.best_params_

Fitting 3 folds for each of 60 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   17.1s
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:  1.3min finished

{'learning_rate': 0.1, 'loss': 'ls', 'max_depth': 4, 'min_samples_split': 3}

In [30]:
print('cross_val_score:', cross_val_score(gbrt_grid.best_estimator_, X_train, y_train))
y_pred_gbrt_grid_best = gbrt_grid.best_estimator_.predict(X_test)
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred_gbrt_grid_best)))

cross_val_score: [0.81131422 0.79809524 0.83779175]
rmse: 4.13172468103456

# Support Vector Machines

In [100]:
from sklearn.svm import LinearSVR
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

lin_svr = LinearSVR(random_state=42)
lin_svr.fit(X_train_scaled, y_train)
print('cross_val_score:', cross_val_score(lin_svr, X_train_scaled, y_train))
y_pred_lin_svr = lin_svr.predict(X_test_scaled)
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred_lin_svr)))

cross_val_score: [0.37895017 0.32672637 0.34892021]
rmse: 8.069312768004282

In [80]:
from sklearn.svm import SVR
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import reciprocal, uniform

param_distributions = {'kernel':['poly', 'sigmoid', 'rbf'],
                       "gamma": reciprocal(0.001, 0.1), 
                       "C": uniform(1, 10)}
rnd_search_cv = RandomizedSearchCV(SVR(), param_distributions, n_iter=25, random_state=42)
rnd_search_cv.fit(X_train_scaled, y_train)

print('cross_val_score:', cross_val_score(rnd_search_cv.best_estimator_, X_train_scaled, y_train))
y_pred_rnd_cv = rnd_search_cv.best_estimator_.predict(X_test_scaled)
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred_rnd_cv)))

cross_val_score: [0.509248   0.48825031 0.52777055]
rmse: 6.775469695802857

# Neural Networks

In [109]:
import tensorflow as tf
from keras.models import Model, Sequential
from keras.layers import Dense, Activation, Flatten, Dropout
from keras.wrappers.scikit_learn import KerasRegressor

np.random.seed(42)

def base_model():
    model = Sequential()
    model.add(Dense(4, input_dim=4, init='normal', activation='relu'))
    model.add(Dense(1, init='normal'))
    
    model.compile(optimizer='adam',loss='mean_squared_error')
    return model

estimator = KerasRegressor(build_fn=base_model, nb_epoch=100, batch_size=5)
results = cross_val_score(estimator, X_train_scaled, y_train)
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))
#estimator.fit(X_train_scaled, y_train)

#estimator.score(y_test, estimator.predict(X_test_scaled))

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(4, activation="relu", input_dim=4, kernel_initializer="normal")`
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, kernel_initializer="normal")`
  # This is added back by InteractiveShellApp.init_path()

Epoch 1/1
1660/1660 [==============================] - 2s 1ms/step - loss: 4624.2262
830/830 [==============================] - 1s 1ms/step
Epoch 1/1
1660/1660 [==============================] - 2s 1ms/step - loss: 4628.9490
830/830 [==============================] - 1s 1ms/step
Epoch 1/1
1660/1660 [==============================] - 2s 1ms/step - loss: 4606.0773
830/830 [==============================] - 1s 1ms/step
Results: -4513.75 (39.06) MSE

In [88]:
from sklearn.model_selection import KFold
from sklearn.pipeline import Pipeline

results = cross_val_score(estimator, X_train_scaled, y_train)
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))

print('cross_val_score:', results)
y_pred_base_nn = estimator.predict(X_test_scaled)
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred_base_nn)))

Epoch 1/1
1660/1660 [==============================] - 2s 1ms/step - loss: nan
830/830 [==============================] - 1s 1ms/step
Epoch 1/1
1660/1660 [==============================] - 2s 1ms/step - loss: nan
  5/830 [..............................] - ETA: 1:46

KeyboardInterrupt:

In [62]:
def deeper_model():
    model = Sequential()
    model.add(Dense(4, input_dim=4, kernel_initializer='normal', activation='relu'))
    model.add(Dense(4, kernel_initializer='RandomNormal', activation='relu'))
    model.add(Dense(2, kernel_initializer='normal'))
    model.add(Dense(1, kernel_initializer='normal'))
    
    model.compile(optimizer='adam',loss='mean_squared_logarithmic_error')
    return model

pipeline = Pipeline([
    ('std_scl', StandardScaler()),
    ('keras_regress', KerasRegressor(build_fn=base_model, nb_epoch=100, batch_size=5))
])

kfold = KFold(n_splits=10, random_state=42)
results = cross_val_score(pipeline, X_train, y_train, cv=kfold)
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Epoch 1/1
2241/2241 [==============================] - 1s 571us/step - loss: 4592.7742
249/249 [==============================] - 0s 1ms/step
Epoch 1/1
2241/2241 [==============================] - 1s 547us/step - loss: 4561.7711
249/249 [==============================] - 0s 1ms/step
Epoch 1/1
2241/2241 [==============================] - 1s 567us/step - loss: 4597.7707
249/249 [==============================] - 0s 2ms/step
Epoch 1/1
2241/2241 [==============================] - 1s 574us/step - loss: 4584.5406
249/249 [==============================] - 0s 2ms/step
Epoch 1/1
2241/2241 [==============================] - 1s 574us/step - loss: 4563.8749
249/249 [==============================] - 0s 1ms/step
Epoch 1/1
2241/2241 [==============================] - 1s 578us/step - loss: 4588.1219
249/249 [==============================] - 0s 1ms/step
Epoch 1/1
2241/2241 [==============================] - 1s 665us/step - loss: 4571.3586
249/249 [==============================] - 0s 2ms/step
Epoch 1/1
2241/2241 [==============================] - 2s 724us/step - loss: 4556.6030
249/249 [==============================] - 0s 2ms/step
Epoch 1/1
2241/2241 [==============================] - 1s 566us/step - loss: 4594.3577
249/249 [==============================] - 0s 1ms/step
Epoch 1/1
2241/2241 [==============================] - 1s 593us/step - loss: 4599.3513
249/249 [==============================] - 0s 1ms/step
Results: -4387.69 (72.32) MSE

In [67]:
pipeline.fit(X_train_scaled, y_train)
print('cross_val_score:', cross_val_score(pipeline, X_train_scaled, y_train))
y_pred_base_nn = pipeline.predict(X_test_scaled)
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred_base_nn)))

Epoch 1/1
2490/2490 [==============================] - 2s 935us/step - loss: 13.7967
Epoch 1/1
1660/1660 [==============================] - 2s 1ms/step - loss: 15.4049
830/830 [==============================] - 1s 1ms/step
Epoch 1/1
1660/1660 [==============================] - 2s 1ms/step - loss: 15.6335
830/830 [==============================] - 1s 815us/step
Epoch 1/1
1660/1660 [==============================] - 2s 1ms/step - loss: 15.8357
830/830 [==============================] - 1s 867us/step
cross_val_score: [-12.58813759 -13.2765765  -13.68404059]
rmse: 66.33832671712608